<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="upload-container">
        <label for="file-upload" class="btn btn-primary custom-file-upload">
          Upload SCORM file
        </label>
        <input id="file-upload" type="file" (change)="onFileChange($event)" accept=".zip" />
        <!-- Show error when occur -->
        <div *ngIf="error" class="alert alert-danger mt-2">{{ error }}</div>
      </div>
    </div>


    <div class="courses-container">
      <div class="row">
        <div class="courses-list col-md-4">
          @for (course of (courses$ | async); track $index) {
            <div class="course-item">
              <button class="btn btn-link" (click)="selectCourse(course)">{{ course.name }}</button>
            </div>
          }
        </div>
        <div class="course col-md-8  p-4" *ngIf="selectedCourse">
          <app-scorm-player [packageName]="selectedCourse"></app-scorm-player>
        </div>
      </div>
    </div>
  </div>