<div class="row w-100">
  <div class="courses-container">
    <div class="row">
      <div class="courses-list col-md-4">

        <div class="upload-container ">
          @if (!!uploading) {
          <button class="custom-file-upload btn btn-dark " disabled>
            <svg class="me-1" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false">
              <path d="M14 2H6C4.9 2 4 2.9 4 4V20C4 21.1 4.9 22 6 22H18C19.1 22 20 21.1 20 20V10L14 2Z" />
              <path d="M12 12V17" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
              <path d="M9 14L12 11L15 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
            </svg>
            Upload SCORM file
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>

          </button>
          }@else {
          <label for="file-upload" class="btn btn-dark custom-file-upload ">
            <svg class="me-1" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false">
              <path d="M14 2H6C4.9 2 4 2.9 4 4V20C4 21.1 4.9 22 6 22H18C19.1 22 20 21.1 20 20V10L14 2Z" />
              <path d="M12 12V17" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
              <path d="M9 14L12 11L15 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
            </svg> Upload SCORM file
          </label>
          <input id="file-upload" type="file" (change)="onFileChange($event)" accept=".zip" />
          }
        </div>


        @for (course of (courses); track $index; let i = $index) {
        <div class="course-item d-flex align-items-center">
          <button class="btn btn-link w-100" (click)="selectCourse(course)">{{ course.name }}</button>
          <button class="btn-link delete-btn d-flex align-items-center justify-content-center mx-2"
            (click)="deleteCourse(course.folder, i)">✖</button>
        </div>
        }
      </div>
      <div class="course col-md-8 m-0 p-0" *ngIf="selectedCourse">
        <app-scorm-player [packageName]="selectedCourse"></app-scorm-player>
      </div>
    </div>
  </div>
</div>



<div *ngIf="!!successMsg"
  class="alert alert-success alert-dismissible fade show d-flex align-items-center justify-content-between  px-3"
  role="alert">
  <p class="mb-0">{{ successMsg }}</p>
  <button type="button" class="alert-close" data-dismiss="alert" aria-label="Close" (click)="successMsg = ''">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div *ngIf="!!errorMsg"
  class="alert alert-danger alert-dismissible fade show d-flex align-items-center justify-content-between px-3"
  role="alert">
  <p class="mb-0">{{ errorMsg }}</p>
  <button type="button" class="alert-close" data-dismiss="alert" aria-label="Close" (click)="errorMsg = ''">
    <span aria-hidden="true">&times;</span>
  </button>
</div>